<div class="d-flex justify-content-between m-0">
  <div class="d-flex align-items-center">
      <h1 class="m-0 page-heading">Employee Attendance</h1>
          <button mat-mini-fab (click)="openDialog()" style="margin-left: 4px;">
            <mat-icon>add</mat-icon>
          </button>
  </div>
  <div class="col-md-2 d-flex justify-content-end">
    <mat-form-field>
      <input  matInput name="firstName" [(ngModel)]="firstName"
      (ngModelChange)="search()" placeholder="Search First Name....">
    </mat-form-field>
    </div>
</div>
<!-- Table Start -->
<div *ngIf="!this.attendanceData || this.attendanceData.length<1" class="d-flex align-items-center justify-content-center">
  <img style="height:60vh;" src="../../../assets/images/nodata-found.png" alt="">

</div>
<table  *ngIf="!this.attendanceData || this.attendanceData.length>0" class="table  table-striped table-bordered table-md mt-3">
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Employee Name</th>
          <th scope="col">Date</th>
          <th scope="col">In Time</th>
          <th scope="col">Out Time</th>
          <th scope="col">Activity</th>
          <th scope="col">Actions</th>

      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of attendanceData | paginate:{itemsPerPage: 10, currentPage:p}  let i = index; ">
          <th scope="row" >{{i+1}}</th>
          <td>{{item.employeeName}}</td>
          <td>{{item.date|date:'dd-MMM-yyyy'}}</td>
          <td>{{item.inTime}}</td>
          <td>{{item.outTime}}</td>
          <td>{{item.activity}}</td>
          <td>
            <button *ngIf="!item.outTime && item.activity != 'Absent' " mat-icon-button matTooltip="Delete" (click)="edit(item.attendanceId)" color="warn">
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="!item.outTime && item.activity != 'Absent'" mat-icon-button matTooltip="Delete" (click)="remove(i)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
      </tr>

  </tbody>
</table>
<div *ngIf="!this.attendanceData || this.attendanceData.length>0"  class="pagination">
  <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>
