<div mat-dialog-title class="d-flex justify-content-between align-items-center m-0">
  <div class="d-flex">
    <mat-icon color="warn">delete</mat-icon>
    <h2 class="heading-2">Are you Sure you want to delete?</h2>
  </div>
  <button class="ml-0" mat-icon-button mat-dialog-close> <mat-icon>close</mat-icon></button>
</div>
<div class="d-flex justify-content-center align-items-center pt-3">
<button (click)="delete(false)" mat-raised-button mat-dialog-close>No</button>
<button (click)="delete(true)" style="margin-left: 7px;" color="warn" mat-raised-button mat-dialog-close>Yes</button>
</div>
