<div class="form-box">
    <div class="col-md-12">
        <div class="card2 card border-0 px-4 py-3">
          <h2 class="page-heading text-center">Login to Your Account</h2>
          <div class="row px-3">
            <mat-form-field >
              <mat-label>User Name</mat-label>
              <input [(ngModel)]="model.userName" matInput  />
              <mat-icon matSuffix>user</mat-icon>

            </mat-form-field>
          </div>
          <div class="row px-3">
            <mat-form-field >
              <mat-label>Password</mat-label>
              <input matInput [(ngModel)]="model.password" [type]="hide ? 'password' : 'text'">
                <mat-icon class="eyes" (click)="hide = !hide" matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          </div>

          <div class="px-3 mb-4 d-flex justify-content-between">

              <mat-checkbox
              [(ngModel)]="model.checked">
            Remember me
          </mat-checkbox>
                 <a  (click)="forget()" class="ml-auto mb-0 text-sm">Forgot Password?</a>
          </div>
          <div class="row mb-3 px-3"> <button type="submit" (click)="Login()" class="btn btn-blue text-center">Login</button> </div>
          <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account?
             <a [routerLink]="['/signUp']" class="text-danger ">Register</a></small> </div>
        </div>
      </div>
</div>
