<div class="d-flex justify-content-between m-0">
  <div class="d-flex align-items-center">
      <h1 class="m-0 page-heading">Salary Issue Detail</h1>
          <button mat-mini-fab (click)="openDialog()" style="margin-left: 4px;">
            <mat-icon>add</mat-icon>
          </button>
  </div>
  <div class="d-flex justify-content-end">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
</div>
<!-- Table Start -->
<table class="table table-striped table-bordered mt-3">
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Employee</th>
          <th scope="col">Designation</th>
          <th scope="col">Month</th>
          <th scope="col">Amount</th>
          <th scope="col">Issue Date</th>
          <th scope="col">Actions</th>

      </tr>
  </thead>
  <tbody>
      <tr>
          <th scope="row">1</th>
          <td>Kamran</td>
          <td>Frontend Developer</td>
          <td>September</td>
          <td>20,000</td>
          <td>02/Oct/2021</td>
          <td>
            <button mat-icon-button matTooltip="View" color="primary">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
      </tr>

      <tr>
          <th scope="row">2</th>
          <td>Adin</td>
          <td>Frontend Developer</td>
          <td>September</td>
          <td>20,000</td>
          <td>02/Oct/2021</td>
          <td>
            <button mat-icon-button matTooltip="View" color="primary">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
      </tr>

      <tr>
          <th scope="row">3</th>
          <td>Asim</td>
          <td>Frontend Developer</td>
          <td>September</td>
          <td>20,000</td>
          <td>02/Oct/2021</td>
          <td>
            <button mat-icon-button matTooltip="View" color="primary">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
      </tr>

      <tr>
          <th scope="row">4</th>
          <td>Basit Ahmed</td>
          <td>Frontend Developer</td>
          <td>September</td>
          <td>20,000</td>
          <td>02/Oct/2021</td>
          <td>
            <button mat-icon-button matTooltip="View" color="primary">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
      </tr>

      <tr>
          <th scope="row">5</th>
          <td>Adin</td>
          <td>Frontend Developer</td>
          <td>September</td>
          <td>25,000</td>
          <td>02/Oct/2021</td>
          <td>
            <button mat-icon-button matTooltip="View" color="primary">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
      </tr>

      <tr>
          <th scope="row">6</th>
          <td>Haris</td>
          <td>Frontend Developer</td>
          <td>September</td>
          <td>30,000</td>
          <td>02/Oct/2021</td>
          <td>
            <button mat-icon-button matTooltip="View" color="primary">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
      </tr>

  </tbody>
</table>

